<?xml version="1.0" encoding="UTF-8"?>
	<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	
	xmlns:p="http://www.springframework.org/schema/p"
	
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	
	<bean id="demo1_a" class="cn.bdqn.demo.Demo1 ">
		<constructor-arg index="0" value="张三" />
		<constructor-arg index="1" value="25" />
		<constructor-arg index="3" value="北大桥" />
		<constructor-arg index="2" value="1990/1/1" />
	</bean>
	<bean id="user" class="cn.bdqn.demo.Demo1" p:age="23" p:name="李四" p:birthday="1990/1/1"
	p:address="北京"/>
	
	<bean id="demo2" class= "cn.bdqn.demo.Demo2">
	
	<property name="list">
		<list>
		<value>北京</value>
		<value>上海</value>
		<value>广州</value>
		</list>
	</property>
	<property name="map">
	<map>
	<entry key="bj" value="北京"/>
	<entry key="sh" value="上海"/>
	<entry key="gz" value="广州"/>
	</map>
	</property>
	</bean>
	
	<bean id="arroundLogger" class="cn.bdqn.Logger.Around"></bean>
	<bean id="demoDao" class="cn.bdqn.dao.impl.DemoDaoImpl"></bean>
	<aop:config>
	<aop:pointcut expression="execution(*cn.bdqn.dao.*.*(..))" id="pointcut"/>
		<aop:aspect ref="arroundLogger">
		<aop:around method="around" pointcut-ref="pointcut"/>
		</aop:aspect>
	</aop:config>
	
	
	</beans>